@page "/"

<PageTitle>Live Data</PageTitle>

@foreach (var emp in EmployeesList)
{
    <p>@emp.Name | @emp.Title</p>
}
@using RealTImeDate2.Data;
@using RealTImeDate2.Services;
@inject EmployeeServices employeeService;
@code {
    List<Employee> EmployeesList = new List<Employee>();
    protected override async Task OnInitializedAsync()
    {
        EmployeesList = await employeeService.GetAllEmployees();
    }
    }
